li{
    list-style-type: none;
}

nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgb(31,216,255);
    background: radial-gradient(circle, rgba(31,216,255,1) 58%, rgba(9,9,121,1) 93%, rgba(2,0,36,1) 100%);
    border-bottom: 2.5px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter{
    color: rgb(197, 65, 65);
    opacity: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.filter:hover{
    opacity: 1;
}

footer{
    background-color: blanchedalmond;
    border-top: 4px solid black;
    padding-bottom: 2px;
    line-height: 1;
}

.footer{
    display: flex;
    justify-content: space-around;
}